body {
  margin: 0;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', monospace;
  font-feature-settings: 'calt', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'ss08';
}

.tracker-box{
  /* background-color: #386489; */
  font-size: 10px;
  /* color: #fff; */
  /* letter-spacing: 0.09em; */
  /* padding: 15px; */
  /* border-radius: 5px; */
  /* margin-top: 5px; */
}

.tracker-box div{
  margin: 5px 0;
}

.tracker-box .validated{
  color: rgba(255, 255, 255, 0.5);
}

.list-icon{
  margin-right: 8px;
}

.list-icon.green{
  color: #0f0;
}
